.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  font-family: 'Aclonica', sans-serif;
  position: fixed;
  top: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* .wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
} */

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.btnWrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.btnWrapper button{
  padding: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
}

.btnWrapper button{
  padding: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
}

.timed{
  background-color: red;
}
  
.untimed{
  background-color: yellowgreen;
}

.vid{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}