.quizWrapper{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1024%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M26.17 -16.36L91.12 21.14L91.12 96.14L26.17 133.64L-38.78 96.14L-38.78 21.14zM91.12 96.14L156.08 133.64L156.08 208.64L91.12 246.14L26.17 208.64L26.17 133.64zM26.17 208.64L91.12 246.14L91.12 321.14L26.17 358.64L-38.78 321.14L-38.78 246.14zM91.12 321.14L156.08 358.64L156.08 433.64L91.12 471.14L26.17 433.64L26.17 358.64zM156.08 208.64L221.03 246.14L221.03 321.14L156.08 358.64L91.12 321.14L91.12 246.14zM221.03 321.14L285.99 358.64L285.99 433.64L221.03 471.14L156.08 433.64L156.08 358.64zM156.08 433.64L221.03 471.14L221.03 546.14L156.08 583.64L91.12 546.14L91.12 471.14zM350.94 96.14L415.89 133.64L415.89 208.64L350.94 246.14L285.99 208.64L285.99 133.64zM285.99 433.64L350.94 471.14L350.94 546.14L285.99 583.64L221.03 546.14L221.03 471.14zM415.89 -16.36L480.85 21.14L480.85 96.14L415.89 133.64L350.94 96.14L350.94 21.14zM480.85 546.14L545.8 583.64L545.8 658.64L480.85 696.14L415.89 658.64L415.89 583.64zM545.8 208.64L610.75 246.14L610.75 321.14L545.8 358.64L480.85 321.14L480.85 246.14zM610.75 546.14L675.71 583.64L675.71 658.64L610.75 696.14L545.8 658.64L545.8 583.64zM740.66 96.14L805.62 133.64L805.62 208.64L740.66 246.14L675.71 208.64L675.71 133.64zM675.71 208.64L740.66 246.14L740.66 321.14L675.71 358.64L610.75 321.14L610.75 246.14zM675.71 433.64L740.66 471.14L740.66 546.14L675.71 583.64L610.75 546.14L610.75 471.14zM805.61 208.64L870.57 246.14L870.57 321.14L805.61 358.64L740.66 321.14L740.66 246.14zM870.57 321.14L935.52 358.64L935.52 433.64L870.57 471.14L805.61 433.64L805.61 358.64zM870.57 546.14L935.52 583.64L935.52 658.64L870.57 696.14L805.61 658.64L805.61 583.64zM935.52 -16.36L1000.48 21.14L1000.48 96.14L935.52 133.64L870.57 96.14L870.57 21.14zM935.52 208.64L1000.48 246.14L1000.48 321.14L935.52 358.64L870.57 321.14L870.57 246.14zM1000.48 321.14L1065.43 358.64L1065.43 433.64L1000.48 471.14L935.52 433.64L935.52 358.64zM935.52 433.64L1000.48 471.14L1000.48 546.14L935.52 583.64L870.57 546.14L870.57 471.14zM1000.48 546.14L1065.43 583.64L1065.43 658.64L1000.48 696.14L935.52 658.64L935.52 583.64zM1065.43 208.64L1130.38 246.14L1130.38 321.14L1065.43 358.64L1000.48 321.14L1000.48 246.14zM1130.38 321.14L1195.34 358.64L1195.34 433.64L1130.38 471.14L1065.43 433.64L1065.43 358.64zM1130.38 546.14L1195.34 583.64L1195.34 658.64L1130.38 696.14L1065.43 658.64L1065.43 583.64zM1260.29 96.14L1325.24 133.64L1325.24 208.64L1260.29 246.14L1195.34 208.64L1195.34 133.64zM1195.34 208.64L1260.29 246.14L1260.29 321.14L1195.34 358.64L1130.38 321.14L1130.38 246.14zM1195.34 433.64L1260.29 471.14L1260.29 546.14L1195.34 583.64L1130.38 546.14L1130.38 471.14zM1260.29 546.14L1325.24 583.64L1325.24 658.64L1260.29 696.14L1195.34 658.64L1195.34 583.64zM1325.25 -16.36L1390.2 21.14L1390.2 96.14L1325.25 133.64L1260.29 96.14L1260.29 21.14zM1325.25 208.64L1390.2 246.14L1390.2 321.14L1325.25 358.64L1260.29 321.14L1260.29 246.14zM1325.25 433.64L1390.2 471.14L1390.2 546.14L1325.25 583.64L1260.29 546.14L1260.29 471.14zM1390.2 546.14L1455.15 583.64L1455.15 658.64L1390.2 696.14L1325.25 658.64L1325.25 583.64zM1455.15 -16.36L1520.11 21.14L1520.11 96.14L1455.15 133.64L1390.2 96.14L1390.2 21.14zM1455.15 208.64L1520.11 246.14L1520.11 321.14L1455.15 358.64L1390.2 321.14L1390.2 246.14zM1455.15 433.64L1520.11 471.14L1520.11 546.14L1455.15 583.64L1390.2 546.14L1390.2 471.14zM1520.11 546.14L1585.06 583.64L1585.06 658.64L1520.11 696.14L1455.15 658.64L1455.15 583.64z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M18.67 -16.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM83.62 21.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM83.62 96.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM18.67 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-46.28 96.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-46.28 21.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.58 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.58 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM83.62 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM18.67 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM83.62 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM18.67 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-46.28 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-46.28 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.58 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.58 433.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM83.62 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM18.67 433.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM213.53 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM213.53 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM278.49 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM278.49 433.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM213.53 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM213.53 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.58 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM83.62 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM343.44 96.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM408.39 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM408.39 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM343.44 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM278.49 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM278.49 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM343.44 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM343.44 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM278.49 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM408.39 -16.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM473.35 21.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM473.35 96.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM343.44 21.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM473.35 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM538.3 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM538.3 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM473.35 696.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM408.39 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM408.39 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM538.3 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM603.25 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM603.25 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM538.3 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM473.35 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM473.35 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM603.25 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM668.21 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM668.21 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM603.25 696.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM733.16 96.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.12 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.12 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM733.16 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM668.21 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM668.21 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM733.16 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM668.21 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM668.21 433.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM733.16 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM733.16 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM603.25 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.11 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.07 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.07 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.11 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.02 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.02 433.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.07 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.11 433.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.07 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.02 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.02 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.07 696.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.11 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.11 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.02 -16.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM992.98 21.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM992.98 96.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.02 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.07 96.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.07 21.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.02 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM992.98 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM992.98 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1057.93 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1057.93 433.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM992.98 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM992.98 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1057.93 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1057.93 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM992.98 696.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1057.93 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.88 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.88 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.84 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.84 433.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.88 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.88 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.84 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.84 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.88 696.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.79 96.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.74 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.74 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.79 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.84 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.84 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.79 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.79 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.79 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.74 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.74 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.79 696.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.75 -16.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1382.7 21.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1382.7 96.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.75 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.79 21.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.75 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1382.7 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1382.7 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.75 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.75 433.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1382.7 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1382.7 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.75 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1447.65 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1447.65 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1382.7 696.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.75 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1447.65 -16.36 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1512.61 21.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1512.61 96.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1447.65 133.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1447.65 208.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1512.61 246.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1512.61 321.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1447.65 358.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1447.65 433.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1512.61 471.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1512.61 546.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1577.56 583.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1577.56 658.64 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1512.61 696.14 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M27.89 -12.34L71.19 12.66L71.19 62.66L27.89 87.66L-15.41 62.66L-15.41 12.66zM27.89 287.66L71.19 312.66L71.19 362.66L27.89 387.66L-15.41 362.66L-15.41 312.66zM114.5 137.66L157.8 162.66L157.8 212.66L114.5 237.66L71.19 212.66L71.19 162.66zM114.5 287.66L157.8 312.66L157.8 362.66L114.5 387.66L71.19 362.66L71.19 312.66zM157.8 512.66L201.1 537.66L201.1 587.66L157.8 612.66L114.5 587.66L114.5 537.66zM201.1 -12.34L244.4 12.66L244.4 62.66L201.1 87.66L157.8 62.66L157.8 12.66zM201.1 137.66L244.4 162.66L244.4 212.66L201.1 237.66L157.8 212.66L157.8 162.66zM244.4 212.66L287.7 237.66L287.7 287.66L244.4 312.66L201.1 287.66L201.1 237.66zM201.1 287.66L244.4 312.66L244.4 362.66L201.1 387.66L157.8 362.66L157.8 312.66zM244.4 362.66L287.7 387.66L287.7 437.66L244.4 462.66L201.1 437.66L201.1 387.66zM287.7 -12.34L331.01 12.66L331.01 62.66L287.7 87.66L244.4 62.66L244.4 12.66zM417.61 62.66L460.92 87.66L460.92 137.66L417.61 162.66L374.31 137.66L374.31 87.66zM374.31 137.66L417.61 162.66L417.61 212.66L374.31 237.66L331.01 212.66L331.01 162.66zM417.61 212.66L460.92 237.66L460.92 287.66L417.61 312.66L374.31 287.66L374.31 237.66zM547.52 -12.34L590.82 12.66L590.82 62.66L547.52 87.66L504.22 62.66L504.22 12.66zM590.82 212.66L634.13 237.66L634.13 287.66L590.82 312.66L547.52 287.66L547.52 237.66zM677.43 62.66L720.73 87.66L720.73 137.66L677.43 162.66L634.13 137.66L634.13 87.66zM677.43 362.66L720.73 387.66L720.73 437.66L677.43 462.66L634.13 437.66L634.13 387.66zM634.13 437.66L677.43 462.66L677.43 512.66L634.13 537.66L590.82 512.66L590.82 462.66zM850.64 362.66L893.94 387.66L893.94 437.66L850.64 462.66L807.34 437.66L807.34 387.66zM937.24 62.66L980.55 87.66L980.55 137.66L937.24 162.66L893.94 137.66L893.94 87.66zM937.24 362.66L980.55 387.66L980.55 437.66L937.24 462.66L893.94 437.66L893.94 387.66zM1023.85 62.66L1067.15 87.66L1067.15 137.66L1023.85 162.66L980.55 137.66L980.55 87.66zM1110.45 212.66L1153.76 237.66L1153.76 287.66L1110.45 312.66L1067.15 287.66L1067.15 237.66zM1110.45 362.66L1153.76 387.66L1153.76 437.66L1110.45 462.66L1067.15 437.66L1067.15 387.66zM1110.45 512.66L1153.76 537.66L1153.76 587.66L1110.45 612.66L1067.15 587.66L1067.15 537.66zM1240.36 287.66L1283.66 312.66L1283.66 362.66L1240.36 387.66L1197.06 362.66L1197.06 312.66zM1283.66 362.66L1326.97 387.66L1326.97 437.66L1283.66 462.66L1240.36 437.66L1240.36 387.66zM1326.97 -12.34L1370.27 12.66L1370.27 62.66L1326.97 87.66L1283.66 62.66L1283.66 12.66zM1370.27 362.66L1413.57 387.66L1413.57 437.66L1370.27 462.66L1326.97 437.66L1326.97 387.66zM1370.27 512.66L1413.57 537.66L1413.57 587.66L1370.27 612.66L1326.97 587.66L1326.97 537.66zM1413.57 -12.34L1456.87 12.66L1456.87 62.66L1413.57 87.66L1370.27 62.66L1370.27 12.66zM1456.87 62.66L1500.18 87.66L1500.18 137.66L1456.87 162.66L1413.57 137.66L1413.57 87.66zM1456.87 212.66L1500.18 237.66L1500.18 287.66L1456.87 312.66L1413.57 287.66L1413.57 237.66zM1413.57 287.66L1456.87 312.66L1456.87 362.66L1413.57 387.66L1370.27 362.66L1370.27 312.66zM1413.57 437.66L1456.87 462.66L1456.87 512.66L1413.57 537.66L1370.27 512.66L1370.27 462.66z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1024'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quizWrapper h1{
    font-weight: bold;
    text-shadow: 5px 5px #00000066;
    font-family: 'Grandstander', sans-serif;
    color: powderblue;
    font-size: 3rem;
    
}

.questionStatus{
    font-family: 'Grandstander', sans-serif;
    font-size: 2rem;
    color: rgb(61, 206, 225);
    width: 70%;
    padding-bottom: 0.5rem;
    text-shadow: 5px 5px #00000066;
}

.questionBox{
    background-color: powderblue;
    height: 60%;
    width: 70%;
    border-radius: 5px;
    padding: 1rem;
}

.midQuestionBox{
    background-color: white; 
    padding: 1rem;
    height: 100%;
}

.innerQuestionBox{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: powderblue;
    overflow-y: auto;
    scrollbar-width:thin;
    -webkit-scrollbar-width:thin;
}

.innerQuestionBox h3{
    margin: 0px;
    background-color: rgb(112, 206, 218);
    padding: 1rem;
    text-align: center;
    width: 100%;
    font-size: large;
}

.innerQuestionBox > div{
    width: 100%;
    font-size: medium;
}

.innerQuestionBox section{
    padding: 1rem;
    border-bottom: 1px solid white;
    width: 100%;
    cursor: pointer;
}

.innerQuestionBox section:hover{
    background-color: rgb(172, 201, 255);
}

.correctOption{
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: default !important;
}

.wrongOption{
background-color: red;
color: white;
cursor: default !important;
}

.correctOption:hover{
    background-color: green !important;
    color: white;
    font-weight: bold;
}

.wrongOption:hover{
background-color: red !important;
color: white;
}

.otherOptions{
    background-color: rgb(172, 201, 255);
    cursor: default !important;
}

.otherOptions:hover{
    background-color: rgb(172, 201, 255) !important;
}

.nextBtn{
    padding:0.5rem 1rem;
    margin-top: 1rem;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    width: 20vw;
    font-size: medium;
}

.nextBtn:disabled{
    color: black;
    opacity: 0.3;
    cursor: not-allowed;
}

.scoreBox{
    background-color: powderblue;
    height: 30%;
    width: 40%;
    border-radius: 5px;
    padding: 1rem;
}

.midScoreBox{
    background-color: white; 
    padding: 1rem;
    height: 100%;
}

.innerScoreBox{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background-color: powderblue;
}

.innerScoreBox .sp1{
    color: rgb(90, 71, 255);
    font-weight: bold;
    padding: 0rem 0.5rem;
}

.innerScoreBox .sp2{
    color: rgb(24, 105, 255);
    font-weight: bold;
    padding: 0rem 0.5rem;
}

.quizWrapper button{
    border-radius: 50%;
    font-weight: bold;
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    padding: 1rem;
    margin-top: 1rem;
    outline: none;
    border: none;
}